<!--Include the header file which has CSS and title-->
<% include partials/header %>

<div class="container">
    <!--Banner at the top of the site-->
    <header class="jumbotron">
        <h1>Welcome to YelpCamp</h1>
        <p>View these handpicked campgrounds from all over the western part of West LA</p>
        <p>
            <a class="btn btn-primary" href="/campgrounds/new">Add New Campground</a>
        </p>
    </header>

    <!--Message between the top header and the grid of images-->
    <div class="row" >
        <div class="col-lg-12">
            <h3>The Most Popular Campgrounds</h3>
        </div>
    </div>

    <!--The grid of images-->
    <div class="row text-center" style="display: flex; flex-wrap: wrap">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= campground.image %>">
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<!--Include the footer which has stuff-->
<% include partials/footer %>