<% include partials/header %>

<div class="container jumbotron">
    <h1>Sign Up</h1>

    <form action="/register" method="POST">
        <input class="well" type="text" name="username" placeholder="username">
        <input class="well" type="password" name="password" placeholder="password">
        <button class="btn btn-md btn-primary">Sign Up</button>
    </form>
</div>

<% include partials/footer %>